/* General */
html {
    font-size: 10px;
}

body {
    background-color: #1d1d1d;
    color: #fff;
    padding: 2rem;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
}

/* Main content */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
}

/* Page title & subtitle */
#title {
    font-size: 6rem;
    font-family: 'Roboto Slab', serif;
}

#subtitle {
    font-size: 3rem;
    font-style: italic;
}

#title,
#subtitle {
    margin-bottom: 2rem;
    padding: 1rem;
}

/* Image */
#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#illustration {
    margin: 0.5rem;
    font-style: italic;
    font-size: 1.5rem;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#image-caption {
    font-family: 'Roboto Slab', serif;
}

/* Related content */
#tribute-info {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heading {
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#content {
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Blockquote */
#quote {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    border-left: 2rem solid #fff;
    width: fit-content;
    padding: 2rem;
    margin: 1rem;
}

/* Link to external info */
#external-link {
    margin: 1rem;
}

#tribute-link {
    color: #fff;
    text-decoration: none;
}

#tribute-link:hover {
    text-decoration: underline;
    font-weight: bold;
}

#tribute-link:visited {
    color: rgb(255, 196, 0);
}


/* Footer */
#footer {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

/* Media queries */
@media (max-width: 600px) {     /* Small devices */

    #title {
        font-size: 3rem;
    }

    #subtitle {
        font-size: 2.5rem;
    }

    #tribute-info {
        align-items: flex-start;
    }

    #heading {
        font-size: 2rem;
    }

    #content,
    #quote,
    #external-link {
        text-align: left;
        font-size: 1.5rem;
    }
}

@media (min-width: 600px) { /* Medium devices */
    #main {
        max-width: 60vw;
    }

    #quote {
        max-width: 40vw;
    }
}